.flag{
    border:1px solid black;
    width: 350px;
}
.top{
    background-color: #ff9933;
}
.middle{
    background-color: white;
    
    display: flex;
    justify-content: center;
}
.bottom{
    background-color: green;
}
.top,.bottom,.middle{
    height: 60px;
    width: 350px;

}
.wheel{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    outline: 1px solid darkblue;
    position: relative;
    
}
.line,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8,
.line9,
.line10,
.line11,
.line12,
.line13{
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: darkblue;
    left: 50%;
    

}
.line:nth-child(1) {
    transform: rotate(15deg);
}

.line2:nth-child(2) {
    transform: rotate(30deg);
}

.line3:nth-child(3) {
    transform: rotate(45deg);
}

.line4:nth-child(4) {
    transform: rotate(60deg);
}

.line5:nth-child(5) {
    transform: rotate(75deg);
} */

.line6:nth-child(6) {
    transform: rotate(90deg);
}

.line7:nth-child(7) {
    transform: rotate(105deg);
}

.line8:nth-child(8) {
    transform: rotate(120deg);
}

.line9:nth-child(9) {
    transform: rotate(135deg);
}

.line10:nth-child(10) {
    transform: rotate(150deg);
}

.line11:nth-child(11) {
    transform: rotate(165deg);
}

.line12:nth-child(12) {
    transform: rotate(180deg);
}
.line13:nth-child(13) {
    transform: rotate(-90deg);
}

